<div class="row">
  <div class="col-xs-12">
    <img src="{{ricetta.imagePath}}" alt="{{ricetta.nome}}" class="img-responsive" style="max-height: 300px"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ricetta.nome}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Gestisci Ricetta
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aggiungi alla Lista della Spesa</a></li>
        <li><a href="#">Modifica Ricetta</a>
        <li><a href="#"></a>Elimina Ricetta</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ricetta.descrizione}}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredienti</div>
</div>