<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nome Ricetta</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Gestisci Ricetta
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aggiungi alla Lista della Spesa</a></li>
        <li><a href="#">Modifica Ricetta</a>
        <li><a href="#"></a>Elimina Ricetta</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Descrizione</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredienti</div>
</div>